*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav */
nav{
    background: red;
    padding: 20px 32px;
}

nav img{
    width: 50px;
}

nav div:nth-child(2) a{
    color: white;
    font-weight: 500;
    font-size: 25px;
}

nav div:nth-child(2) a:hover{
    background-color: rgb(58, 58, 58);
    border:2px, solid rgb(58, 58, 58);
    border-radius: 10px;
    padding: 3px;
}

nav input{
    border-radius: 10px;
    height: 50px;
    background-color: white;
    font-size: 20px;
}

/* Main section */

#suggestions{
    grid-template-columns: 1fr 1fr;
}

main section{
    position: relative;
    color: white;
}

main section h1{
    position: absolute;
    color: black;
    text-align: center;
    font-size: 40px;
    width: 500px;
    top: 50px;
    left: 30%;
}

main section h1 span{
    background-color: white;
}

.card{
    padding: 200px 0 48px 64px;
}

.card h2 {
    /* color: white; */
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 700;
}

.card-1{
    background-color: darkred;
}

.card-2{
    background-color: darkslateblue;
}

.card-3{
    background: blue;
}

.card-4{
    background-color: purple;
}

/* Test */

.writer-image {
    background-color: black;
    border: 3px solid gray;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transform: rotate(-15deg);
    margin-right: 16px;
}

.writer-image:hover{
    transform: rotate(0deg);
    transition-duration:0.7s;
    background-color: white;
    border-radius: 10px;
}

.comments {
    align-items: center;
    margin-bottom: 50px;
}

.comments p, .likes p{
    margin-right: 40px;
    font-size: 15px;
    font-weight: 700;
}


/* Generic classes */
.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.space-between{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
}

.space-around{
    justify-content: space-around;
}

.grid{
    display: grid;
}

.justify-center{
    justify-content: center;
}