*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav */
nav{
    background: red;
    padding: 20px 32px;
}

nav img{
    width: 50px;
}

nav div:nth-child(2) a{
    color: white;
    font-weight: 500;
    font-size: 25px;
}

nav div:nth-child(2) a:hover{
    background-color: rgb(58, 58, 58);
    border:2px, solid rgb(58, 58, 58);
    border-radius: 10px;
    padding: 3px;
}

/* nav input{
    border-radius: 10px;
    height: 50px;
    background-color: white;
    font-size: 20px;
} */

#searchBar {
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    background-color: white;
    font-size: 20px;
}

#searchBar input {
    height: 100%;
    border: 0;
    background: transparent;
    outline: none;
    font-size: 20px;
}
#glass {
    padding-left: 10px;
}


/* Main section */

#suggestions{
    grid-template-columns: 1fr 1fr;
}

main section{
    position: relative;
}

main section h1{
    position: absolute;
    color: black;
    text-align: center;
    font-size: 40px;
    width: 500px;
    top: 50px;
    left: 30%;
}

main section h1 span{
    background-color: white;
}

.card{
    padding: 200px 64px 48px;
}

.card h2 {
    /* color: white; */
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 700;
}

.card-1{
    background-color: darkred;
}

.card-2{
    background-color: darkslateblue;
}

.card-3{
    background: blue;
}

.card-4{
    background-color: purple;
}

/* Test */

.writer-image {
    background-color: black;
    border: 3px solid gray;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transform: rotate(-15deg);
    margin-right: 16px;
}

.writer-image:hover{
    transform: rotate(0deg);
    transition-duration:0.7s;
    background-color: white;
    border-radius: 10px;
}

.comments {
    align-items: center;
    margin-bottom: 50px;
}

.comments p, .likes p{
    margin-right: 40px;
    font-size: 15px;
    font-weight: 700;
}


/* Generic classes */
.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.flex-3{
    flex: 3;
}

.space-between{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
}

.space-around{
    justify-content: space-around;
}

.grid{
    display: grid;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.white{
    color: white;
}

main section:nth-child(n+2){
    margin-bottom: 88px;
}

.link{
    border-bottom: 3px solid red;
    padding-bottom: 8px;
}

/* Person of the week section */
#person-of-the-week{
    grid-template-columns: 1fr 3fr;
    margin: 0 88px 32px;
}

#person-of-the-week h3{
    color: hsl(0, 0%, 40%);
    padding-bottom: 32px;
}

#person-of-the-week p{
    font-size: large;
    line-height: 30px;
}

#person-of-the-week-image{
    width: 250px;
    height: 250px;
}

/* testing second article */


 .article-section-two {
    color: black;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 100px;

}

.article-section-two-container:hover{
    transform: scale(1.05);
    transition-duration:0.5s;
    
}



.article-section-two-container:hover > .article-section-two-arrow {
    background-color: blue;
    transition-duration:0.5s;
  }
  
.article-section-two-container {
    padding-left: 50px;
    background-color: white;
    /* border: 1px solid black; */
}

.article-section-two-date {
    color: rgba(139, 139, 139, 0.979);
    margin-bottom: 10px;
    font-size: 15px;
}

.article-section-two-container h2 {
    color: black;
    font-size: 25px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 30px;
}

.article-section-two-author {
    color: rgb(114, 114, 114);
    font-weight: 700;
    margin-bottom: 20px;
}

.article-section-two-author span{
  text-decoration: underline;
}

.article-section-two-text{
    color: blue;
    font-size: 18px;
    line-height: 35px;
} 

.article-section-two-arrow {
  color: red; 
  font-size: 30px;
  margin-top: 50px;
  margin-left: -50px;
  padding: 50px 50px 50px 50px;
}



/* don not forget to see later */
.main-article2-box:hover > .main-article2-arrow {
  padding: 5px;
  background-color: blue;
  transition-duration:0.5s;
}


.article-section-two-container div{
    height: 350px;
}

/* article three */
.article-section-three {
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid black; */
    margin-top: 100px;
}

.article-section-three-container {
    grid-template-columns: 1fr 5fr;
    /* border: 1px solid black; */
    padding: 0 100px 0 50px;
    margin-bottom: 180px;
}

.article-section-three-container p:nth-child(1) {
    color: gray;
    font-size: 20px;
    font-weight: 700;
}

.article-section-three-container p:nth-child(1) span {
    text-decoration: underline;
}

.article-section-three-container h2 {
    font-size: 36px;
    margin: 18px 0;
}

.article-section-three-container h2:hover {
    color: red;
}

.article-section-three-container p {
    font-size: 17px;
    line-height: 30px;
}

.article-section-three-container p span {
    color: gray;
    font-size: 15px;
}

.article-section-three-container a {
    text-decoration: underline;
    color: blue;
}

/* Article section 4 */
.article-section-four{
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px 32px;
    /* background: red; */
    padding: 88px 88px 88px 52px;
}

.article-section-four-card {
    background: coral;
    padding: 32px;
    /* border: 1px solid black; */
    border-radius: 8px;
    box-shadow: 0px 5px 10px hsl(0, 0%, 50%);
}

.article-section-four-card p:nth-child(1){
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.article-section-four-card h2{
    font-size: 44px;
    margin: 16px 48px 32px 0px;
}

.article-section-four-card p{
    font-size: 20px;
    line-height: 32px;
}

.article-section-four-card button{
    padding: 16px;
    border-radius: 12px;
    border: none;
    margin-top: 24px;
    font-size: larger;
}

.article-section-four-card button:hover{
    cursor: pointer;
}

footer {
    background-color: red;
    margin-bottom: 200px;
}
footer p:nth-child(1){
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0;
}

#pFooter span {
    text-decoration: underline;
}

#pFooter em {
    font-style: italic;
}

ul li{
    color: white;
    display: inline-block;
    /* list-style: circle; */
    line-height: 40px;
    font-size: 20px;
}

ul li:before { 
    content: "• "; 
    color: black;
} 

ul {
    /* margin-bottom: 200px; */
    text-align: center;
    padding: 0 200px;
}

#pFooter{
    color: yellow;
    text-align: center;
    line-height: 30px;
    padding: 56px 430px 24px 430px;
}

footer a {
    color: pink;
    padding-right: 10px;
    text-decoration: underline;
}

footer div {
    padding: 0 400px;
    text-align: center;
    line-height: 36px;
}